@page "/flight"
@using FlightTracker.ViewModel
@using FlightTracker.Model
<h3>Flight</h3>
<input type="text" @bind="@vm.FlightId" placeholder="Enter Flight ID" />


<button @onclick="GetFlightData">Get Flight Info</button>
@if (vm.Flight != null)
{
    <p>@vm.Flight.Number</p>
}
else
{
    <p>No flight data available.</p>
}
<p>@response</p>

@code {
    private string flightId = "PD673";
    // private TimeOnly? flightDate = "2024-08-09";
    private string response;
    private FlightViewModel vm;
    public FlightManager Manager { get; set; }
    protected override void OnInitialized()
    {
        this.Manager = new FlightManager();
        vm = new FlightViewModel(flightId);
        base.OnInitialized();
    }


    private async Task GetFlightData()
    {
        // Set flight ID and date
        // vm.FlightId = flightId;
        // vm.FlightDate = flightDate;
// Call API to get flight data and update the response
        // response = await vm.GetApiData();
        
    }
    
}
