@page "/flight"
@using FlightTracker.ViewModel
@using FlightTracker.Model
<h3>Flight</h3>
<input type="text" @bind="@flightId" placeholder="Enter Flight ID" />


<button @onclick="GetFlightData">Get Flight Info</button>
@if (vm.Flight != null)
{
    <p>@vm.Flight.Number</p>
}
else
{
    <p>No flight data available.</p>
}
<p>@response</p>

@code {
    private string flightId = "AC761";
    // private TimeOnly? flightDate = "2024-08-09";
    private string response;
    private FlightViewModel vm;

    protected override void OnInitialized()
    {

        vm = new FlightViewModel(flightId);
        base.OnInitialized();
    }


    private async Task GetFlightData()
    {
        // Set flight ID and date
        vm.FlightId = flightId;
        // vm.FlightDate = flightDate;
        // Call API to get flight data and update the response
        // response = await vm.GetApiData();
        response = vm.Manager.GetFlightByNameMock(flightId).ToString();

    }
    
}
